body {
	margin-top: 30px;
	margin-left: 30px;
	width: 500px;
}

#display {
	margin: 5px;
	font-size: 30px;
	border: 1px solid  #bbb;
}

.button {
	margin: 10px;
}

.btn-primary {
	width: 50px;
}

.btn-info {
	width: 35px;
}

.btn-success {
	width: 100px;
}